
// colors

$glob_color: #343434; // общий цвет текста всего сайта
$glob_blue: #008cef; // цвет главного сайта хаи
$header_top: #22333f;
$footer_top: #264962;
$footer_bottom: #2a5472;

// fonts

$primary-fonts: 'Open Sans', Geneva, Sans, sans-serif;