<footer class="footer">
	<div class="footer__top">
		<div class="container">
			<div class="row">
				<div class="col-md-2 col-sm-4">
					<div class="footer__navigation footer-nav">
						<div class="footer-nav__colTop footer-nav__colTop--open"><span>Університет</span></div>
						<ul class="footer-nav__links footer-nav__links--active">
							<li><a href="#">Керівництво</a></li>
							<li><a href="#">Структура університету</a></li>
							<li><a href="#">Міжнародне співробітництво</a></li>
							<li><a href="#">Новини та події</a></li>
							<li><a href="#">Газета «За авіакадри»</a></li>
							<li><a href="#">Медіа-галерея</a></li>
							<li><a href="#">Публічна інформація</a></li>
							<li><a href="#">Державні закупівлі</a></li>
							<li><a href="#">Музей</a></li>
							<li><a href="#">Контактна інформація</a></li>
						</ul>
					</div>
				</div>
				<div class="col-md-2 col-sm-4">
					<div class="footer__navigation footer-nav">
						<div class="footer-nav__colTop"><span>Абітуріентам</span></div>
						<ul class="footer-nav__links">
							<li><a href="#">Напрями підготовки</a></li>
							<li><a href="#">Приймальна комісія</a></li>
							<li><a href="#">Правила прийому</a></li>
							<li><a href="#">Порядок подання документів</a></li>
							<li><a href="#">Школярам</a></li>
							<li><a href="#">Випускникам технікумів</a></li>
							<li><a href="#">Центр доуніверситетської підготовки</a></li>
							<li><a href="#">Заходи</a></li>
							<li><a href="#">Іноземним громадянам</a></li>
							<li><a href="#">Майбутнім магістрам і спеціалістам</a></li>
							<li><a href="#">Друга вища освіта</a></li>
						</ul>
					</div>
				</div>
				<div class="col-md-2 col-sm-4">
					<div class="footer__navigation footer-nav">
						<div class="footer-nav__colTop"><span>Освіта</span></div>
						<ul class="footer-nav__links">
							<li><a href="#">Факультети і кафедри</a></li>
							<li><a href="#">Центри навчання</a></li>
							<li><a href="#">Факультет навчання іноземних громадян</a></li>
							<li><a href="#">Наукова бібліотека</a></li>
							<li><a href="#">Конференції, олімпіади та конкурси</a></li>
						</ul>
					</div>
				</div>
				<div class="clearfix hidden-xs hidden-md hidden-lg"></div>
				<div class="col-md-2 col-sm-4">
					<div class="footer__navigation footer-nav">
						<div class="footer-nav__colTop"><span>Наука</span></div>
						<ul class="footer-nav__links">
							<li><a href="#">Спеціалізовані ради</a></li>
							<li><a href="#">Аспірантура і докторантура</a></li>
							<li><a href="#">Наукові видання</a></li>
							<li><a href="#">Науково-дослідна частина ХАІ </a></li>
							<li><a href="#">Наукові підрозділи</a></li>
							<li><a href="#">Наукові розробки</a></li>
							<li><a href="#">Конференції</a></li>
							<li><a href="#">Науково-технічний центр творчості молоді</a></li>
						</ul>
					</div>
				</div>
				<div class="col-md-2 col-sm-4">
					<div class="footer__navigation footer-nav">
						<div class="footer-nav__colTop"><span>Студентське життя</span></div>
						<ul class="footer-nav__links">
							<li><a href="#">КВН ХАІ</a></li>
							<li><a href="#">Світ ХАІ Леоніда Литвина</a></li>
							<li><a href="#">ізостудія</a></li>
							<li><a href="#">Танцювальний клуб "Мрія"</a></li>
							<li><a href="#">Духовий оркестр ХАІ</a></li>
							<li><a href="#">Студмістечко ХАІ</a></li>
							<li><a href="#">Профком студентів</a></li>
							<li><a href="#">Дельтапланерний клуб</a></li>
							<li><a href="#">Авіаційно-технічний клуб "Зліт ХАІ"</a></li>
							<li><a href="#">Науково-технічний Центр творчості молоді</a></li>
							<li><a href="#">Парапланерний клуб SC ХАІ</a></li>
						</ul>
					</div>
				</div>
				<div class="col-md-2 col-sm-4">
					<div class="footer__navigation footer-nav">
						<div class="footer-nav__colTop"><span>Випускники</span></div>
						<ul class="footer-nav__links">
							<li><a href="#">Міжнародна асоціація Випускників ХАІ</a></li>
							<li><a href="#">Ювілейні зустрічі</a></li>
							<li><a href="#">Наша гордість</a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="footer__bottom footer-bott">
		<div class="container">
			<div class="row">
				<div class="col-lg-2 col-sm-4">
					<div class="footer-bott__col">
						<a href="#" target="_blank"><img src="images/ministry_education.png" alt=""></a>
					</div>
				</div>
				<div class="col-lg-2 col-sm-4">
					<div class="footer-bott__col">
						<a href="#" target="_blank"><img src="images/employment_center.png" alt=""></a>
					</div>
				</div>
				<div class="col-lg-2 col-sm-4">
					<div class="footer-bott__col">
						<a href="#" target="_blank"><img src="images/contact_item_RP-7.png" alt=""></a>
					</div>
				</div>
				<div class="clearfix hidden-xs hidden-lg"></div>
				<div class="col-lg-2 col-sm-4">
					<div class="footer-bott__col">
						<a href="#" target="_blank"><img src="images/tempus.png" alt=""></a>
					</div>
				</div>
				<div class="col-lg-2 col-sm-4">
					<div class="footer-bott__col">
						<a href="#" class="footer-bott__socbutt footer-bott__socbutt--vk icon-vkontakte" target="_blank"></a>
						<a href="#" class="footer-bott__socbutt footer-bott__socbutt--fb icon-facebook" target="_blank"></a>
					</div>
				</div>
				<div class="col-lg-2 col-sm-4">
					<div class="footer-bott__col">
						<div class="footer-bott__copyright">© 2016 ХАІ <br>Всі права захищені</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</footer>

<!--[if lt IE 9]>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
<![endif]-->
<script>
	(function() {
		// Load css
		var href = [
			"https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800&amp;subset=latin,cyrillic", 
			"css/main.min.css"
		];
		for (var i = 0; i < href.length; i++) {
			var a = document.createElement("link");a.rel = "stylesheet";a.href = href[i];
			document.getElementsByTagName("head")[0].appendChild(a);
		}

		// Load scripts
		var scr = {"scripts": [
		{"src" : "https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.1/jquery.min.js", "async" : false},
		{"src" : "js/main.min.js", "async" : false}
		]};!function(t,n,r){"use strict";var c=function(t){if("[object Array]"!==Object.prototype.toString.call(t))return!1;for(var r=0;r<t.length;r++){var c=n.createElement("script"),e=t[r];c.src=e.src,c.async=e.async,n.body.appendChild(c)}return!0};t.addEventListener?t.addEventListener("load",function(){c(r.scripts);},!1):t.attachEvent?t.attachEvent("onload",function(){c(r.scripts)}):t.onload=function(){c(r.scripts)}}(window,document,scr);
	})();
</script>


</div> <!-- end tag <div id="page" class="page"> -->

</body>

</html>
